<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Safer API</h1><br>
        <h4>Get the safest route between two places</h4>
    </div>

    <div class="container" style="margin:50px">

    </div>

    <footer class="footer">
        <div class="container">
          <span class="text-muted">Made with ❤ by Hack O' Holics</span>
        </div>
    </footer>
</body>
</html>